<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

    <style>
        #signOutBtn {
            border: 1px solid black;
            border-radius: 2px;
            background-color: grey;
            color: white;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            width: 80px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1><%= username %>'s Profile</h1>
        <ul>
            <li><b>First Name:</b> <%= firstName %></li>
            <li><b>Last Name:</b> <%= lastName %></li>
            <li><b>Hobby:</b> <%= hobby %></li>
            <li><b>Pet Name:</b> <%= petName %></li>
        </ul>
        <hr />
        <h2>Edit Profile Info</h2>
        <form id="editInfoForm">
            <label>First Name: <input name="firstName" placeholder="First Name" type="text" value=<%= firstName %>></label>
            <br />
            <label>Last Name: <input name="lastName" placeholder="Last Name" type="text" value=<%= lastName %>></label>
            <br />
            <label>Hobby: <input name="hobby" placeholder="Hobby" type="text" value=<%= hobby %>></label>
            <br />
            <label>Pet Name: <input name="petName" placeholder="Pet Name" type="text" value=<%= petName %>></label>
            <br />
            <input type="submit" value="Submit">
        </form>
        <hr />
        <div id="signOutBtn">
            <p>Sign Out</p>
        </div>
    </div>

    <% include ../partials/scripts %>

    <script>
        $('#editInfoForm').on('submit', function(e) {

            $.ajax({
                url: '/profile/editUserInfo',
                type: 'POST',
                data: {
                    'firstName': $('#editInfoForm input[name="firstName"]').val(),
                    'lastName': $('#editInfoForm input[name="lastName"]').val(),
                    'hobby': $('#editInfoForm input[name="hobby"]').val(),
                    'petName': $('#editInfoForm input[name="petName"]').val()
                },
                success: function(data) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText + ' (' + xhr.status + ')');
                }
            });

            return false;
        });

        $('#signOutBtn').on('click', function(e) {

            $.ajax({
                url: '/signout',
                type: 'POST',
                success: function(data) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText + ' (' + xhr.status + ')');
                }
            });

        });
    </script>
</body>

</html>
